[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autocrop = "*"
opencv-python = "*"
flask = "*"
python-dotenv = "*"
gunicorn = "*"
supabase = "*"
pillow = "*"
flask-cors = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.9"
